<div class="container">
  <form name="registration" class="form-horizontal">
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input ng-model="customer.lastName" name="lastName" type="text" placeholder="Type your last name..."/>
    </div>
    <div class="form-group">
      <label for="partySize">Party Size:</label>
      <input ng-model="customer.partySize" name="partySize" type="number" />
    </div>
    <button type="submit" class="btn btn-default btn-large" ng-click="registerCustomer(customer)">Submit</button>
  </form>
</div>
